frontend ft_smtp
  # IPV4
  #bind 0.0.0.0:1025
  # IPV 6
  bind :::1025
  mode tcp
  timeout client 1m
  option tcplog
  log global
  default_backend bk_smtp

backend bk_smtp
  mode tcp
  timeout server 1m
  timeout connect 5s
  # IPV4 V1
  #server smtp 127.0.0.1:2319 send-proxy
  # IPV4 V2
  #server smtp 127.0.0.1:2319 send-proxy-v2
  # IPV4 V2 CRC
  server smtp 127.0.0.1:2319 send-proxy-v2 proxy-v2-options crc32c
  # IPV6 V2 CRC
  #server smtp ::1:2319 send-proxy-v2 proxy-v2-options crc32c
